body {
  background-color: #dadada;
  font-size: 10px;
}

h1.Modern-luxury {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 14px;
  text-align: center;
  display: block;
  position: initial;

}

h1 {
 text-align: left;
 padding: 55px;
 text-align: center;
 position: absolute;

}

div {
 text-align: left;
 font-size: 20px;
 font-family: serif;
 padding: 10px;
 z-index: 2;
 width: 18%;
}

.container {
  width: 100%;
  background-color: #dadada;
  padding: 50px;
  text-align: center;
}

.preview {
  background-size: cover;
  padding: 10px;
  height: 200px;
  margin: 0px 20px 20px 0px;
  background-position: center;
  display: inline-block;
  width: 20%;

}

.preview h1 {
  padding: 24px;
}

.baku {
  background-image: url("images/baku.jpg");
}

.london {
  background-image: url("images/london.png");
}

.madrid {
  background-image: url("images/madrid.jpg");
}

.rome {
  background-image: url("images/rome.jpg")
}

/*for iphone*/
@media only screen
  and (min-width : 320px) and  (max-width : 480px){
    .preview {
      width: 80%;
      margin: 0px 0px 20px 0px;
    }
}

/*for ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   .preview {
      width: 40%;
      margin: 5px 5px 5px 5px

 }
